html {
	height: 100%
}

body {
	background: url(./aboutfalc.jpg) top right/cover no-repeat, linear-gradient(45deg, #FCFCFC, #5C6F7C);
	background-attachment: fixed;
	padding-top: 200px;
	padding-right: 25%;
}

nav.header {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-family: Arial;
	background-color: #292D30;
}

nav.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav.header ul li {
	float: left;
	width: 120px;
}

nav.header ul li a {
	display: block;
	padding: 20px 10px;
	background-color: #292D30;
	color: #DBDBDB;
	text-decoration: none;
}

nav.header ul li a:hover {
	background-color: #02111B;
}

nav.header h3 {
	height: 0;
	padding: 18px;
	padding-right: 20%;
	margin: 0;
	text-decoration: none;
	color: #DBDBDB;
}

#active {
	background-color: #3E4244;
}

div.main-body {
	text-align: center;
	position: relative;
	left: 25%;
	width: 80%;
	padding: 10px;
	border: solid;
	border-width: 1px;
	background-color: rgba(252, 252, 252, 0.15);
}

div.main-body:hover {
	background-color: rgba(252, 252, 252, 0.75);
}